<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo List</title>
</head>

<body>
    <main>
        <div>
            <h1>{{todo_list_object.name}}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_list_object.id %}">Edit</a>
                <a href="{% url 'todo_list_delete' todo_list_object.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th> Task </th>
                        <th> Due Date </th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_item in todo_list_object.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' todo_item.id %}">{{todo_item.task}}</a></td>
                        <td>{{todo_item.due_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
