<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Item</title>
</head>

<body>
    <main>
        <div>
            <h1>Create a New Item</h1>
            <form method="post">
                {% csrf_token %}
                {{ todo_item_form.as_p }}
                <!-- <input type="text">Task</input>
                <input type="text">Due Date</input>
                <input type="checkbox">Is Completed</input> -->
                <!-- <select>List
                    {% for todo_list in todo_list_list %}
                    <option value={{todo_list.id}}>{{todo_list.name}}</option>
                    {% endfor %}
                </select> -->
                <button>Create</button>
            </form>
        </div>
    </main>
</body>

</html>
